$color-principal: #3f0718;
$color-blanco: white;
$color-gris: #c7c7c7;
$color-gristexto: #8a8485;

* {
  margin: 0px;
  padding: 0px;
}

.nav,
.dropdown-toggle {
  background-color: $color-principal;
  margin-top: 20px;
  margin-left: 10px;
}

.nav,
.dropdown-item {
  text-align: center;
  width: 400px;
  padding: 40px;
  border-bottom: 1px solid $color-blanco;
  color: $color-blanco;
  background-color: $color-principal;
  font-family: Arial, Helvetica, sans-serif;
  /* z-index: 999;  para que no se vean flechitas del carousel por arriba */
}

.nav--buscador {
  width: auto;
  margin-right: 10px;
  &__button {
    color: $color-principal;
    border-color: $color-principal;
  }
  &__button:hover {
    background-color: $color-principal;
    transform: scale(1.1);
    transition: background-color 0.5s ease-out;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Para que las imagenes no se superpongan */
  z-index: 1;
  background-color: $color-blanco;
}
nav {
  font-family: monserrat;
  background-color: $color-blanco;
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
}

.nav__logo {
  height: 80px;
  top: 8px;
  left: 8px;
}

.header h4 {
  align-items: center;
  background-color: $color-principal;
  color: $color-blanco;
  text-align: center;
  padding: 8px;
  font-size: 11px;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  a {
    text-decoration: none;
    color: $color-gristexto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
  }

  li {
    float: left;
    ul {
      list-style: none;
      background-color: $color-blanco;
      display: none;
      position: absolute;
      width: 120px;
      height: 220px;
      padding: 0;
      margin: 0;
    }
    a:hover {
      color: $color-principal;
    }
  }
}

.nav--menu__burger {
  display: none;
}

/* fin navegador  */

/*  comienxo main */

main {
  padding: 0 1.5rem;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1.5rem;
}

.logoContacto {
  text-align: center;
  font-size: 3rem;
  color: #b60a3e;
}

.logoContacto span {
  color: black;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.contact-wrapper > * {
  padding: 1rem;
}

.contact-form {
  background-color: rgba(252, 248, 248, 0.856);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 80%;
  padding: 1em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 2px solid #b60a3e;
}

.contact-form form select {
  width: 70%;
  padding: 4px;
  outline: 0;
}

.contact-form form button {
  background: #670b27;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: white;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #ac3559;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* comienza parte de abajo con info  */

.contact-info {
  background-color: #670b27;
  color: white;
}

.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.lineal {
  display: inline-block;
}

.contact-info li {
  padding: 3px;
}

.contact-info ul {
  list-style: none;
}

/*  para pantallas grandes */
@media (min-width: 768px) {
  main {
    padding: 0 4rem;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    background: rgba(252, 248, 248, 0.856);
  }
  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

@media (max-width: 1090px) {
  .nav--buscador__input {
    display: none;
  }
}

/* para celus */
@media (max-width: 860px) {
  .header h4 {
    display: none;
  }

  .header {
    height: 80px;
  }

  .navbar {
    display: none;
  }

  .nav--buscador {
    margin-top: 20px;
  }

  .nav__logo {
    display: block;
    top: 0;
    left: 40%;
    position: fixed;
    height: 74px;
  }

  .nav--menu__burger {
    display: block;
    width: 100%;
  }
}
