* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  margin: 0;
  font-family: monserrat;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  align-items: center;
}

.logo {
  height: 110px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.navbar ul {
  list-style: none;
  /* background-color: #663366; */
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #8a8485;
  width: 100px;
  display: block;
  padding: 50px 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;

  /*  me quedaron muy altos los boxes   */
}

.navbar__submenu--producto {
  display: none;
}

.navbar a:hover {
  /* background: #670b27; */
  color: #670b27;
  display: block;
  /* no me anda que aparezca barra de submenu  */
}

.navbar a[title="Productos"]:hover .navbar__submenu--producto {
  display: inline-block;
}
/* fin navegador */

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #854d85;
  color: white;
}

table {
  padding: 20px;
}
